@model IEnumerable<TH1.Models.Admin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTenAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChiAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoaiAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDNAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhauAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinhAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinhAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuyenAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTenAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoaiAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDNAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhauAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinhAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinhAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuyenAdmin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaAdmin">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaAdmin">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaAdmin">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
